* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.625rem;
}

body {
  background-color: #f9f9f9;
}

:root {
  --font-dark: #353535;
  --font-light: #f8f8ff;
  --nav-black: #1b1b1b;
  --light-green: #5ae274;
  --med-green: #2dc963;
  --dark-green: #143601;
  --light-blue: #059fffb8;
  --med-blue: #0c89dd;
  --dark-blue: #0c569b;
  --slategrey: #c2c2c2;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto+Condensed&family=Roboto+Mono");

html {
  color: var(--font-dark);
  font-family: "Merriweather Sans", sans-serif;
}
